.filterGroup {
    padding-top: 40px;
    font-size: 18px;
}

.image {
    position: relative;
    padding-right: 5px;
    top: 3.5px;
}

.button {
  border-radius: 10px;
  padding: 10px 25px;
  margin-right: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  box-shadow: 0px 8px #888888;
}

.button.one:hover {
    background-color: #ffe6e6;
}

.button.one:active {
    background-color: #ff9980;
    box-shadow: 0 4px #666666;
    transform: translateY(4px);
}

.button.one {
    background-color: #FFF;
    border: 5px solid red;
}

.button.two:hover {
    background-color: #ffffe6;
}

.button.two:active {
    background-color: #ffff80;
    box-shadow: 0 4px #666666;
    transform: translateY(4px);
}

.button.two {
    background-color: #FFF;
    border: 5px solid yellow;
}

.button.three:hover {
    background-color: #ebfaeb;
}

.button.three:active {
    background-color: #99e699;
    box-shadow: 0 4px #666666;
    transform: translateY(4px);
}

.button.three {
    background-color: #FFF;
    border: 5px solid green;
}
